h1 {
  font-family: Cookie; }

button,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px; }

.row {
  margin: 0; }

.wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .wrap-logo .logo-sby {
    font-size: 35px;
    color: #E8C8BD;
    margin: 0;
    font-weight: 500; }
  .wrap-logo .logo-real-estate {
    font-size: 25px;
    color: white;
    margin: 0;
    font-weight: 100; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #333333; }
  .navbar .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navbar .navbar-links h2 {
      color: white;
      font-size: 20px;
      font-weight: lighter;
      margin: 0;
      padding: 0 10px; }
    .navbar .navbar-links h2:hover {
      color: #E8C8BD; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .center .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 100px 0px; }
    .center .items .second-background {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.25);
      padding: 20px;
      border-radius: 50px; }
      .center .items .second-background h1 {
        font-size: 50px;
        font-weight: 900;
        color: white;
        margin-bottom: 20px;
        font-weight: "bold";
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25); }
        .center .items .second-background h1 .heart {
          color: #E8C8BD; }
      .center .items .second-background button {
        background-color: #053936;
        border: 1px solid #053936;
        border-radius: 30px;
        padding: 10px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: white; }
      .center .items .second-background button:hover {
        background-color: rgba(5, 57, 54, 0.5); }

.about-us {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0; }
  .about-us h2 {
    font-size: 26px;
    color: #C5C5C5; }
  .about-us h4 {
    color: white;
    font-size: 18px; }
    .about-us h4 .logo-sby {
      color: #E8C8BD;
      font-weight: 500;
      margin: 0;
      font-size: 20px;
      font-family: Cookie; }
    .about-us h4 .logo-real-estate {
      color: #C5C5C5;
      margin: 0;
      font-weight: 100; }

.statistics {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0; }
  .statistics h2 {
    font-size: 26px;
    color: #C5C5C5; }
  .statistics ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 4px; }
    .statistics ul li {
      text-align: center; }
      .statistics ul li .num {
        color: #E8C8BD;
        font-size: 30px;
        font-weight: bold; }
      .statistics ul li .title {
        color: white;
        font-size: 18px; }

.footer {
  background-color: #333333;
  padding: 20px 0; }
  .footer a {
    padding: 0 10px;
    color: #E8C8BD; }

.background-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.search-page {
  background-color: #C5C5C5; }
  .search-page .search-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0; }
    .search-page .search-buttons-wrapper .dropdown {
      margin: 0 10px; }

.apartment {
  padding-bottom: 15px; }
  .apartment h5 {
    font-size: 12px;
    color: #333333; }
  .apartment .apartment-image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .apartment .apartment-image .heart {
      color: white;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 40px; }
    .apartment .apartment-image .heart:hover {
      color: #E8C8BD; }
    .apartment .apartment-image .titles-wrapper {
      position: absolute;
      left: 10px;
      bottom: 10px;
      background-color: rgba(0, 0, 0, 0.25);
      padding: 5px;
      border-radius: 5px; }
      .apartment .apartment-image .titles-wrapper .price {
        font-size: 24px;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
      .apartment .apartment-image .titles-wrapper .sale-status {
        color: white; }
      .apartment .apartment-image .titles-wrapper .property-type {
        color: white; }
  .apartment .under-image {
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 10px 0; }
    .apartment .under-image .address-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 5px 0; }
      .apartment .under-image .address-wrapper h5 {
        margin: 0 10px;
        font-size: 18px; }
        .apartment .under-image .address-wrapper h5 i {
          padding: 0 10px 0 0;
          color: #053936; }
    .apartment .under-image .apartment-detail-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 5px 0; }
      .apartment .under-image .apartment-detail-wrapper h5 {
        margin: 0 10px;
        font-size: 18px; }
        .apartment .under-image .apartment-detail-wrapper h5 i {
          padding: 0 10px 0 0;
          color: #053936; }

/*loader symbol*/
.lds-ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px; }

.lds-ellipsis .lds-wrap {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ellipsis .lds-wrap div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis .lds-wrap .black-circle {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis .lds-wrap div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis .lds-wrap div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis .lds-wrap div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis .lds-wrap div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite; }

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0); } }

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0); } }

.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
