$colors: ("pink": #E8C8BD,
    "lightgray": #C5C5C5,
    "green": #053936,
    "darkgray": #333333,
    "white": white,
    "blur-black": rgba(0, 0, 0, 0.25),
    "blur-green": rgba(5, 57, 54, .5),
);

$fonts: ("main-header": Cookie,
    "body": Dosis);

h1 {
    font-family: map-get($fonts, "main-header");
}

button,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;

};



@mixin perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin perfect-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin: 0;
}

.wrap-logo {
    display: flex;

    .logo-sby {
        font-size: 35px;
        color: map-get($colors, "pink");
        margin: 0;
        font-weight: 500;
    }

    .logo-real-estate {
        font-size: 25px;
        color: map-get($colors, "white");
        margin: 0;
        font-weight: 100;
    }
}



.navbar {
    @include space-between-center();
    background-color: map-get($colors, "darkgray");

    .navbar-links {
        display: flex;

        h2 {
            color: map-get($colors, "white");
            font-size: 20px;
            font-weight: lighter;
            margin: 0;
            padding: 0 10px;
        }

        h2:hover {
            color: map-get($colors, "pink");
        }
    }

}

.center {
    @include perfect-center-col();
    .items {
        @include perfect-center-col();
        padding: 100px 0px;

        .second-background {
            @include perfect-center-col();
            background-color: map-get($colors, "blur-black");
            padding: 20px;
            border-radius: 50px;

            h1 {
                font-size: 50px;
                font-weight: 900;
                color: map-get($colors, "white");
                margin-bottom: 20px;
                font-weight: "bold";
                text-shadow: 1px 1px 8px map-get($colors, "blur-black");

                .heart {
                    color: map-get($colors, "pink");
                }
            }

            button {
                background-color: map-get($colors, "green");
                border: 1px solid map-get($colors, "green");
                border-radius: 30px;
                padding: 10px 30px;
                @include perfect-center();
                color: map-get($colors, "white")
            }

            button:hover {
                background-color: map-get($colors, "blur-green");
            }
        }
    }
}



.about-us {
    background-color: map-get($colors, "darkgray");
    @include perfect-center-col();
    padding: 20px 0;

    h2 {
        font-size: 26px;
        color: map-get($colors, "lightgray");
    }

    h4 {
        color: map-get($colors, "white");
        font-size: 18px;

        .logo-sby {
            color: map-get($colors, "pink");
            font-weight: 500;
            margin: 0;
            font-size: 20px;
            font-family: map-get($fonts, "main-header");
        }

        .logo-real-estate {
            color: map-get($colors, "lightgray");
            margin: 0;
            font-weight: 100;

        }
    }
}

.statistics {
    background-color: map-get($colors, "darkgray");
    @include perfect-center-col();
    padding: 20px 0;

    h2 {
        font-size: 26px;
        color: map-get($colors, "lightgray");
    }

    ul {
        text-align: center;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        border-radius: 4px;

        li {
            text-align: center;

            .num {
                color: map-get($colors, "pink");
                font-size: 30px;
                font-weight: bold;
            }

            .title {
                color: map-get($colors, "white");
                font-size: 18px;
            }
        }
    }
}


.footer{
    background-color: map-get($colors, "darkgray");
    padding: 20px 0;
    a{
        padding: 0 10px;
        color: map-get($colors, "pink");
    }
}

.background-image{
    width: 100%;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}