$colors: ("pink": #E8C8BD,
    "lightgray": #C5C5C5,
    "green": #053936,
    "darkgray": #333333,
    "white": white,
    "red": rgb(168, 42, 42),
    "blur-black": rgba(0, 0, 0, 0.25),
    "blur-green": rgba(5, 57, 54, .5),
);

$fonts: ("main-header": Cookie,
    "body": Dosis);

h1 {
    font-family: map-get($fonts, "main-header");
}

button,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;

}

;
body{
    position: relative;
}

button:focus {outline:0;}


@mixin perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin perfect-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin: 0;
}

.wrap-logo {
    display: flex;

    .logo-sby {
        font-size: 35px;
        color: map-get($colors, "pink");
        margin: 0;
        font-weight: 500;
    }

    .logo-real-estate {
        font-size: 25px;
        color: map-get($colors, "white");
        margin: 0;
        font-weight: 100;
    }
}



.navbar {
    @include space-between-center();
    background-color: map-get($colors, "darkgray");

    .navbar-links {
        display: flex;

        h2 {
            color: map-get($colors, "white");
            font-size: 20px;
            font-weight: lighter;
            margin: 0;
            padding: 0 10px;
        }

        h2:hover {
            color: map-get($colors, "pink");
        }
    }

}

.center {
    @include perfect-center-col();

    .items {
        @include perfect-center-col();
        padding: 100px 0px;

        .second-background {
            @include perfect-center-col();
            background-color: map-get($colors, "blur-black");
            padding: 20px;
            border-radius: 50px;

            h1 {
                font-size: 50px;
                font-weight: 900;
                color: map-get($colors, "white");
                margin-bottom: 20px;
                font-weight: "bold";
                text-shadow: 1px 1px 8px map-get($colors, "blur-black");

                .heart {
                    color: map-get($colors, "pink");
                }
            }

            button{
                background-color: map-get($colors, "green");
                border: 1px solid map-get($colors, "green");
                border-radius: 30px;
                padding: 10px 30px;
                @include perfect-center();
                color: map-get($colors, "white")
            }

            button:hover {
                background-color: map-get($colors, "blur-green");
            }
        }
    }
}



.about-us {
    background-color: map-get($colors, "darkgray");
    @include perfect-center-col();
    padding: 20px 0;

    h2 {
        font-size: 26px;
        color: map-get($colors, "lightgray");
    }

    h4 {
        color: map-get($colors, "white");
        font-size: 18px;

        .logo-sby {
            color: map-get($colors, "pink");
            font-weight: 500;
            margin: 0;
            font-size: 20px;
            font-family: map-get($fonts, "main-header");
        }

        .logo-real-estate {
            color: map-get($colors, "lightgray");
            margin: 0;
            font-weight: 100;

        }
    }
}

.statistics {
    background-color: map-get($colors, "darkgray");
    @include perfect-center-col();
    padding: 20px 0;

    h2 {
        font-size: 26px;
        color: map-get($colors, "lightgray");
    }

    ul {
        text-align: center;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        border-radius: 4px;

        li {
            text-align: center;

            .num {
                color: map-get($colors, "pink");
                font-size: 30px;
                font-weight: bold;
            }

            .title {
                color: map-get($colors, "white");
                font-size: 18px;
            }
        }
    }
}


.footer {
    background-color: map-get($colors, "darkgray");
    padding: 20px 0;

    a {
        padding: 0 10px;
        color: map-get($colors, "pink");
    }
}

.background-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search-page {
    background-color: map-get($colors, "lightgray");
    position: relative;

    .search-buttons-wrapper {
        display: flex;
        padding: 10px 5px;

        .dropdown {
            margin: 0 10px;
        }
    }
}


.apartment {
    padding-bottom: 15px;

    h5 {
        font-size: 12px;
        color: map-get($colors, "darkgray");
    }

    .apartment-image {
        position: relative;
        background-size: cover;
        background-position: center;
        height: 250px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        .heart {

            color: map-get($colors, "white");
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 40px;
        }

        .heart:hover {
            color: map-get($colors, "pink");
        }

        .titles-wrapper {
            position: absolute;
            left: 10px;
            bottom: 10px;
            background-color: rgba(0, 0, 0, 0.25);
            padding: 5px;
            border-radius: 5px;

            .price {
                font-size: 24px;
                color: map-get($colors, "white");
                font-weight: bold;
                text-shadow: 1px 1px 1px map-get($colors, "blur-black");
            }

            .sale-status {
                color: map-get($colors, "white");
            }

            .property-type {
                color: map-get($colors, "white");
            }
        }


    }

    .under-image {
        width: 100%;
        background-color: map-get($colors, "white");
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 1px 3px map-get($colors, "blur-black");
        padding: 10px 0;

        .address-wrapper {
            display: flex;
            padding: 5px 0;

            h5 {
                margin: 0 10px;
                font-size: 18px;

                i {
                    padding: 0 10px 0 0;
                    color: map-get($colors, "green");

                }
            }
        }

        .apartment-detail-wrapper {
            display: flex;
            padding: 5px 0;

            h5 {
                margin: 0 10px;
                font-size: 18px;

                i {
                    padding: 0 10px 0 0;
                    color: map-get($colors, "green");
                }
            }
        }
    }
}

/*loader symbol*/
.lds-ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.lds-ellipsis .lds-wrap {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis .lds-wrap div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis .lds-wrap .black-circle {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis .lds-wrap div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis .lds-wrap div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis .lds-wrap div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis .lds-wrap div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.dropdown-item {
    @include perfect-center()
}

.search-details {
    display: flex;
    h5 {
        font-size: 14px;
        span{
            color: map-get($colors, "red");
            i {
                padding: 0 15px;
            }
        }
    }
}

.row{
    padding: 0;
}

.noApartments-wrapper{
    padding: 40px 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 80px;
        color: map-get($colors, "white");
        text-shadow: 1px 1px 8px map-get($colors, "blur-black");
    }
}


.show-more-wrapper{
    @include perfect-center();
    padding: 40px 0;
    .show-more-button{
        background-color: map-get($colors, "green");
        border: 1px solid map-get($colors, "green");
        border-radius: 30px;
        padding: 10px 30px;
        @include perfect-center();
        color: map-get($colors, "white")
    }
    
    .show-more-button:hover {
        background-color: map-get($colors, "blur-green");
    }
}
