@import '../general.scss';


.page-login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    background-color: map-get($colors, 'lightgray');

    h1 {
        font-size: 80px;
        color: map-get($colors, "white");
        text-shadow: 1px 1px 8px map-get($colors, "blur-black");
        padding-bottom: 30px;
    }

    .login-wrapper {
        form {
            label {
                font-size: 24px;
                display: flex;
                justify-content: center;
                color: map-get($colors, 'darkgray');
            }

            .button-wrapper {
                @include perfect-center();

                button {
                    font-size: 24px;
                    display: flex;
                    background-color: map-get($colors, 'pink');
                    border-color: map-get($colors, 'pink');
                }

                button:hover {
                    background-color: map-get($colors, 'green');
                    border-color: map-get($colors, 'green');
                }
            }

        }

    }
}